body{background-color: #f7eddc;}

#felso
{
	margin-top: 30px;
}

a{
	font-weight: bold;
}
.kozep
{
	text-align: center;
}

.kepfelirat
{
	text-align: center;
	font-style: italic;
}

.galeriakep
{
	margin: auto;
	display: block;
	height: 300px;
}
 
#tortenet{
	font-weight: bold;
}

.keret {
	border: 3px solid #7a5c3e;
}

.margo {
	margin-top: 20px;
	margin-bottom: 20px;
}